<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionstrings>
     <add connectionstring="Data Source=(localdb)\ProjectsV13;Initial Catalog=IShopDataBase;Integrated Security=True;Pooling=False;Connect Timeout=30" name="" providername="System.Data.SqlClient"></add>
  </connectionstrings>
</configuration>
